.table-width {
  width: 250px;
}

.row-height {
  height: 50px;
}

.column-width {
  width: 50px;
}

.key-width {
  width: 30px;
}

.key-height {
  height: 50px;
}

.special-key-width {
  width: 60px;
}
